.container{
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F8F5;
    gap:20px;
}

.title{
    font-size: 25px;
    color: black;
    font-weight: 700;
}

.description{
    color: gray;
    font-size:17px;
    width: 40%;
    text-align: center;
}

.join-boxes{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
    padding: 20px;
}

.join-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    padding: 20px;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    background: white;
}

.box-icon{
    min-width: 45px;
    min-height: 45px;
    background: #DCFCE7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 50%;
    height: 50%;
    color: #16A34A;
}

.box-title{
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.box-description{
    color:#4B5563;
    font-size: 17px;
}

.under-box{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap:10px;
    padding: 20px;
    height: 150px;
    border-radius: 10px;
    background: white;
}

.under-box-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#16A34A;
    font-size: 34px;
}

.under-box-icon{
    min-width: 60px;
    min-height: 60px;
    background: #DCFCE7;
    border-radius: 50%;
}

.under-box-text{
    text-align: left;
}

.under-box-title{
    color: black;
    font-weight: 700;
    font-size: 22px;
}   

.under-box-description{
    color:#4B5563;
    font-size: 17px;
}

@media (max-width: 768px){

    .join-boxes{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        overflow: hidden;
        gap:30px
    }


    .join-box{
        width: 100%;
    }

    .under-box{
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: 220px;
    }
}