.productPage {
    width: 100vw;
}

.main {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}