*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F0F5F1;
    padding: 20px;
    box-sizing: border-box;
    gap: 15px;
}

.title {
    width: 100%;
    line-height: 45px;
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}

.title-green{
    color: #16A34A;
}

.btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.btn {
    padding: 6px 8px;
    flex:1;
    text-align: center;
    color: #374151;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 12px;
    font-weight: 500;
}


.btn.selected {
    background: #16A34A;
    color: black;
    background: #FFFFFF;
}

.info-texts{
    display: flex;
    flex-direction: column;
    gap:15px;
    color: #4C5765;
}

.info-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.info{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap:20px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap:10px;
}

.box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background:#DCFCE7;
    border-radius: 50%;   
    color: #16A34A; 
    font-size: 18px;
}

.box-title{
    color: black;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}

.box-description{
    color: gray;
    font-size: 14px;
}

