.title {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background: white;
    border: 1px solid gray;
    align-self: start;
    padding: 20px;
    border-radius: 10px;
}

.text {
    font-weight: 600;
    font: size 20px;
    color: black
}

.clean-all-btn {
    color: black;
    cursor: pointer;
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
}

.prices{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
}

.max-price{
    position: absolute;
    right: 0;
}

.min-price{
    position: absolute;
    left: 5px;
}

.check-box {
    color: black;
}

.categories-checkbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.colors-checkbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}