* {
    box-sizing: border-box;
}


.why-choose-container {
    background-color: #f0f7f4;
    padding: 20px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100vw;
}

.why-choose-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crafted-label {
    background-color: white;
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.main-title {
    font-size: 48px;
    font-weight: 750;
    color: black;
    letter-spacing: -1px;
}

.subtitle {
    color: #555;
    font-size: 20px;
    width: 700px;
}

.features-container {
    display: flex;
    justify-content: space-evenly;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 16px;
    padding: 30px;
    height: 300px;
    width: 300px;
    transition: all 0.3s;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-wrapper {
    width: 100%;
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fef3c7;
    border-radius: 10px;
}

.icon-yellow {
    background-color: #fef3c7;
    color: #f59e0b;
}

.icon-green {
    background-color: #d1fae5;
    color: #10b981;
}

.icon-blue {
    background-color: #e0f2fe;
    color: #3b82f6;
}

.icon-logo {
    width: 60%;
    height: 60%;
}

.feature-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.feature-description {
    text-align: left;
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
}

.learn-more {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.learn-more.orange {
    color: orange;
}

.learn-more.green {
    color: green;
}

.learn-more.blue {
    color: blue;
}

@media (max-width: 1024px) {
    .features-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .feature-card {
        width: 100%;
    }

    .subtitle {
        width: 100%;
    }

    .why-choose-container {
        padding: 20px;
    }

    .main-title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 18px;
    }
}
