*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: rgb(177, 172, 172);
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.footer-text {
    color: rgb(177, 172, 172);
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

a:hover::after {
    transform: scaleX(1);
}

.section-name {
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(177, 172, 172);
    font-size: 18px;
    font-weight: 700;

}

.footer-section {
    padding: 20px 20px;
}

.footer {
    background: #111827;
    width: 100vw;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.footer-links-div {
    width: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}

.logo {
    display: flex;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    height: fit-content;
}

.logo-icon {
    background-color: #2bb673;
    color: white;
    font-weight: bold;
    font-size: 23px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-weight: 750;
    font-size: 22px;
    color: white;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-media-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(47, 47, 47);
}

.email-form {
    display: flex;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.email-form input[type="email"] {
    border: 0;
    background-color: #1e2a3d;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
}

.email-form input[type="email"]::placeholder {
    color: #94a3b8;
}

.email-form button {
    background: #10b981;
    color: white;
    padding: 0 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: transparent;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.email-form.focused {
    border: solid 1px #10b981;
    border-radius: 8px;
}

.footer-text-email{
    font-size: 14px;
    font-weight: 500;
}

.footer-below {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-below-copyright-and-likns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer-copyright {
    width: 50%;
    display: flex;
    align-items: flex-start;
    padding-left: 30px;
    flex-wrap: wrap;
}

.footer-below-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    flex-wrap: wrap;
}

.footer-below-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.footer-below-more-info {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    background: #1F2937;
    font-size: 14px;
    font-weight: 300;
    gap:10px;
}

.dot{
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.dot.green{
    background: green;
}

.dot.blue{
    background: blue;
}

.dot.orange{
    background: orange;
}

@media (max-width: 768px) {
    .footer-below {
        height: auto;
        gap: 30px;
    }

    .footer-below-copyright-and-likns {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .footer-copyright{
        width: 100%;
        padding-left: 0;
        justify-content: center;
    }


    .footer-below-links {
        width: 100%;
        padding-left: 0;
        justify-content: center;
    }

    .footer-below-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-below-more {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
}