.logo-link {
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    background-color: #2bb673;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-weight: 750;
    font-size: 22px;
    color: black;
}